@tailwind base;
@tailwind components;
@tailwind utilities;



.custom-date-input {
  position: relative;
}

.custom-date-input:before {
  /* content: "\1F4C5"; */
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #2e2e2e; /* Set your desired color */
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --font-family: 'Noto Sans', sans-serif;
}

.noto_sans {
  font-family: var(--font-family);
}